<div>
  <div class="row">
    <div class="col-md-8">
      <available-details [problem]="problem"/>
    </div>
    <div class="col-md-4 sidebar text-light">
      <h1>
        Metoda AHP
      </h1>
      <details open>
        <summary><b>Pokaż/Ukryj opis metody</b></summary>
        <p>
          Metoda AHP jest metodą porządkowania bazującą na porównaniach parami i określeniu siły preferencji jednej
          opcji
          względem drugiej.
        </p>
        <ol>
          <li>Opcje A i B są sobie równoważne</li>
          <li>Opcja A jest słabo preferowane względem opcji B</li>
          <li>Opcja A jest silnie preferowane względem opcji B</li>
          <li>Opcja A jest bardzo silnie preferowane względem opcji B</li>
          <li>Opcja A jest ekstremalnie preferowane względem opcji B</li>
        </ol>
        <p>Wagi <b>2</b>, <b>4</b>, <b>6</b> i <b>8</b> są opcjami pośrednimi.</p>
      </details>
      <div *ngFor="let criterion of criteria; let c = index;">
        <div class="inner-group text-dark">
          <details>
            <summary><h3 class="inline-display">{{ criterion.name }}</h3></summary>
            <div *ngFor="let option1 of getCriterionOptions(criterion.id); let i = index;">
              <div *ngFor="let option2 of getCriterionOptions(criterion.id); let j = index;">
                <div class="row" *ngIf="j > i">
                  <div class="txt-center">
                    <button
                      class="btn btn-primary"
                      type="button"
                      (click)="reverseItem(c, i, j)"
                    >Odwróć opcje
                    </button>
                  </div>
                  <ng-container
                    [ngTemplateOutlet]="reverseArray[c][i][j] ? reverseComparison : comparison"
                    [ngTemplateOutletContext]="{option1:option1, option2:option2}"
                  ></ng-container>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
      <div class="btn-right btn-margin">
        <button type="button" class="btn btn-primary" (click)="$event.preventDefault(); saveOptionComparison()">
          Zapisz porównania opcji
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #comparison let-option1='option1' let-option2='option2'>
  <div class="col-md-2"><b>{{ option1.value }}</b></div>
  <div class="col-md-8">
    <ng-container
      [ngTemplateOutlet]="getScaleType() ? slider : radio"
      [ngTemplateOutletContext]="{option1:option1, option2:option2}"
    ></ng-container>
  </div>
  <div class="col-md-2"><b>{{ option2.value }}</b></div>
</ng-template>

<ng-template #reverseComparison let-option1='option1' let-option2='option2'>
  <div class="col-md-2"><b>{{ option2.value }}</b></div>
  <div class="col-md-8">
    <ng-container
      [ngTemplateOutlet]="getScaleType() ? slider : radio"
      [ngTemplateOutletContext]="{option1:option1, option2:option2}"
    ></ng-container>
  </div>
  <div class="col-md-2"><b>{{ option1.value }}</b></div>
</ng-template>

<ng-template #slider let-option1='option1' let-option2='option2'>
  <div class="txt-center">
    <input id="{{option1.id}}{{option2.id}}" type="range" class="form-range" min="1" max="9" step="1" value="1"
           oninput="this.nextElementSibling.value = this.value">
    <output>1</output>
  </div>
</ng-template>

<ng-template #radio let-option1='option1' let-option2='option2'>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option1.id}}{{option2.id}}"
           id="{{option1.id}}{{option2.id}}1" value="9">
    <label class="form-check-label" for="{{option1.id}}{{option2.id}}1">
      Absolutna przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option1.id}}{{option2.id}}"
           id="{{option1.id}}{{option2.id}}2" value="8">
    <label class="form-check-label" for="{{option1.id}}{{option2.id}}2">
      Bardzo duża lub absolutna przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option1.id}}{{option2.id}}"
           id="{{option1.id}}{{option2.id}}3" value="7">
    <label class="form-check-label" for="{{option1.id}}{{option2.id}}3">
      Bardzo duża przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option1.id}}{{option2.id}}"
           id="{{option1.id}}{{option2.id}}4" value="6" checked>
    <label class="form-check-label" for="{{option1.id}}{{option2.id}}4">
      Duża lub bardzo duża przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option1.id}}{{option2.id}}"
           id="{{option1.id}}{{option2.id}}5" value="5">
    <label class="form-check-label" for="{{option1.id}}{{option2.id}}5">
      Duża przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option1.id}}{{option2.id}}"
           id="{{option1.id}}{{option2.id}}6" value="4">
    <label class="form-check-label" for="{{option1.id}}{{option2.id}}6">
      Umiarkowana lub duża przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option1.id}}{{option2.id}}"
           id="{{option1.id}}{{option2.id}}7" value="3">
    <label class="form-check-label" for="{{option1.id}}{{option2.id}}7">
      Słaba lub umiarkowana przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option1.id}}{{option2.id}}"
           id="{{option1.id}}{{option2.id}}8" value="2">
    <label class="form-check-label" for="{{option1.id}}{{option2.id}}8">
      Jednakowe lub słaba przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option1.id}}{{option2.id}}"
           id="{{option1.id}}{{option2.id}}9" value="1">
    <label class="form-check-label" for="{{option1.id}}{{option2.id}}9">
      Jednakowe znaczenie
    </label>
  </div>
</ng-template>
