<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="">DecisionMaker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="problem">Problemy</a>
      </li>
      <li class="nav-item" *ngIf="!isLogged()">
        <a class="nav-link" routerLink="auth">Zaloguj</a>
      </li>
      <li class="nav-item" *ngIf="isLogged()" (click)="logout()">
        <a class="nav-link" routerLink="auth">Wyloguj</a>
      </li>
    </ul>
  </div>
</nav>

