<div>
  <div *ngIf="questions.length===0; then noOptions else optionsList">
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary btn-margin mb-3" (click)="$event.preventDefault();addQuestion()">Dodaj
      pytanie
    </button>
  </div>
</div>
<ng-template #noOptions>
  <p>
    Do ankiety podsumowującej nie dodano żadnych pytań.
  </p>
</ng-template>
<ng-template #optionsList>
  <div>
    <h2>
      Lista pytań
    </h2>
    <div class="row" *ngFor="let question of questions; let i = index">
      <div class="col-md-8">
        <p>{{ i + 1 }}. {{ question.content }}</p>
        <div *ngIf="question.type === 'warianty'">
          <ul>
            <li *ngFor="let answer of getAnswersByQuestion(question.id)">{{answer.name}}</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-danger" (click)="$event.preventDefault(); deleteQuestion(question.id)">Usuń pytanie</button>
      </div>
    </div>
  </div>
</ng-template>
