<div>
  <button
    type="button"
    class="btn btn-primary btn-margin"
    (click)="$event.preventDefault(); addProblem();"
  >Dodaj nowy problem</button>
  <div *ngIf="problems.length===0; then noProblems else problemList">
  </div>
</div>
<ng-template #noProblems>
  Brak problemów do wyświetlenia
</ng-template>
<ng-template #problemList>
  <div class="row mb-3">
    <div class="col-md-4">Nazwa</div>
    <div class="col-md-4">Czy odblokowane</div>
  </div>
  <div *ngFor="let problem of problems">
    <problem-list-item
      [problem]="problem"/>
  </div>
</ng-template>
