<div>
  <div class="row">
    <div class="col-md-7">
      <available-details [problem]="problem"/>
    </div>
    <div class="col-md-5 sidebar text-light">
      <h1>
        Metoda Hellwiga
      </h1>
      <details open>
        <summary><b>Pokaż/Ukryj opis etapu</b></summary>
        <p>
          Metoda Hellwiga jest metodą porządkowania liniowego opartą na porównaniu analizowanych rozwiązań z
          rozwiązaniem
          idealnym. Porównanie takie wymaga jednak ręcznego określenia numerycznych wartości opcji dla kryteriów
          wyrażonych w skali
          opisowej. Na poniższej liście znajdują się wszystkie kryteria wymagające ręcznego określenia ważności opcji.
        </p>
      </details>
      <div *ngFor="let criterion of getDescriptiveCriteria()">
        <details>
          <summary><h5 class="inline-display">{{ criterion.name }}</h5></summary>
          <div *ngFor="let option of getCriterionOptions(criterion.id)">
            <div class="inner-group text-dark">
              <p>{{ option.value }}</p>
              <ng-container
                [ngTemplateOutlet]="getScaleType() ? slider : radio"
                [ngTemplateOutletContext]="{option:option}"
              ></ng-container>
            </div>
          </div>
        </details>
      </div>
      <div class="btn-right btn-margin">
        <button type="button" class="btn btn-primary" (click)="$event.preventDefault(); saveOptionWeights()">Zapisz wagi
          opcji
        </button>
      </div>
    </div>
  </div>
</div>


<ng-template #slider let-option='option'>
  <div class="txt-center">
    <input id="{{option.id}}" type="range" class="form-range" min="1" max="100" step="1" value="50"
           oninput="this.nextElementSibling.value = this.value">
    <output>50</output>
  </div>
</ng-template>

<ng-template #radio let-option='option'>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option.id}}" id="{{option.id}}1" value="100">
    <label class="form-check-label" for="{{option.id}}1">
      Zdecydowanie dobre
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option.id}}" id="{{option.id}}2" value="83">
    <label class="form-check-label" for="{{option.id}}2">
      Dobre
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option.id}}" id="{{option.id}}3" value="67">
    <label class="form-check-label" for="{{option.id}}3">
      Raczej dobre
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option.id}}" id="{{option.id}}4" value="50" checked>
    <label class="form-check-label" for="{{option.id}}4">
      Ani dobre, ani niedobre
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option.id}}" id="{{option.id}}5" value="33">
    <label class="form-check-label" for="{{option.id}}5">
      Raczej niedobre
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option.id}}" id="{{option.id}}6" value="17">
    <label class="form-check-label" for="{{option.id}}6">
      Niedobre
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{option.id}}" id="{{option.id}}7" value="1">
    <label class="form-check-label" for="{{option.id}}7">
      Zdecydowanie niedobre
    </label>
  </div>
</ng-template>
