.footer {
  position: relative;
  /*bottom: 0;*/
  width: 100%;
  /*white-space: nowrap;*/
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: ghostwhite;
}

/* selected link */
a:active {
  color: white;
}
