<div class="container">
  <div class="ctrl-group">
    <form [formGroup]="recoveryRequestForm" (ngSubmit)="$event.preventDefault(); requestRecovery()">
      <div class="inner-group">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
        <div *ngIf="recoveryRequestForm.get('email')?.invalid && recoveryRequestForm.get('email')?.touched">
          <small class="text-danger"
                 *ngIf="recoveryRequestForm.get('email')?.hasError('required')"
          >Email jest wymagany</small>
          <small class="text-danger"
                 *ngIf="recoveryRequestForm.get('name')?.hasError('maxlength')"
          >Email może zawierać maksymalnie 200 znaków</small>
        </div>
      </div>
      <div class="btn-right">
        <button
          type="submit"
          class="btn btn-primary btn-margin">Wyślij instrukcję
        </button>
      </div>
    </form>
  </div>
</div>
