<div>
  <div class="row">
    <div class="col-md-8">
      <available-details [problem]="problem"/>
    </div>
    <div class="col-md-4 sidebar text-light">
      <h1>
        Metoda AHP
      </h1>
      <details open>
        <summary><b>Pokaż/Ukryj opis metody</b></summary>
        <p>
          Metoda AHP jest metodą porządkowania bazującą na porównaniach parami i określeniu siły preferencji jednej
          opcji
          względem drugiej. Znaczenie poszczególnych wag jest następujące:
        </p>
        <ol>
          <li>Kryteria A i B są sobie równoważne</li>
          <li>Kryterium A jest słabo preferowane względem kryterium B</li>
          <li>Kryterium A jest silnie preferowane względem kryterium B</li>
          <li>Kryterium A jest bardzo silnie preferowane względem kryterium B</li>
          <li>Kryterium A jest ekstremalnie preferowane względem kryterium B</li>
        </ol>
        <p>Wagi <b>2</b>, <b>4</b>, <b>6</b> i <b>8</b> są opcjami pośrednimi.</p>
      </details>
      <div *ngFor="let criterion1 of criteria; let i = index;">
        <div *ngFor="let criterion2 of criteria; let j = index;">
          <div class="row inner-group" *ngIf="j > i">
            <div class="txt-center">
              <button
                class="btn btn-primary fit-content"
                type="button"
                (click)="reverseItem(i, j)">Odwróć kryteria
              </button>
            </div>
            <div class="row text-dark">
              <ng-container
                [ngTemplateOutlet]="reverseArray[i][j] ? reverseComparison : comparison"
                [ngTemplateOutletContext]="{criterion1:criterion1, criterion2:criterion2}"
              ></ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-right btn-margin">
        <button type="button" class="btn btn-primary" (click)="$event.preventDefault(); saveCriteriaComparison()">Zapisz
          porównania kryteriów
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #comparison let-criterion1='criterion1' let-criterion2='criterion2'>
  <div class="col-md-2"><b>{{ criterion1.name }}</b></div>
  <div class="col-md-8">
    <ng-container
      [ngTemplateOutlet]="getScaleType() ? slider : radio"
      [ngTemplateOutletContext]="{criterion1:criterion1, criterion2:criterion2}"
    ></ng-container>
  </div>
  <div class="col-md-2"><b>{{ criterion2.name }}</b></div>
</ng-template>

<ng-template #reverseComparison let-criterion1='criterion1' let-criterion2='criterion2'>
  <div class="col-md-2"><b>{{ criterion2.name }}</b></div>
  <div class="col-md-8">
    <ng-container
      [ngTemplateOutlet]="getScaleType() ? slider : radio"
      [ngTemplateOutletContext]="{criterion1:criterion1, criterion2:criterion2}"
    ></ng-container>
  </div>
  <div class="col-md-2"><b>{{ criterion1.name }}</b></div>
</ng-template>

<ng-template #slider let-criterion1='criterion1' let-criterion2='criterion2'>
  <div class="txt-center">
    <input id="{{criterion1.id}}{{criterion2.id}}" type="range" class="form-range" min="1" max="9" step="1" value="1"
           oninput="this.nextElementSibling.value = this.value">
    <output>1</output>
  </div>
</ng-template>

<ng-template #radio let-criterion1='criterion1' let-criterion2='criterion2'>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{criterion1.id}}{{criterion2.id}}"
           id="{{criterion1.id}}{{criterion2.id}}1" value="9">
    <label class="form-check-label" for="{{criterion1.id}}{{criterion2.id}}1">
      Absolutna przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{criterion1.id}}{{criterion2.id}}"
           id="{{criterion1.id}}{{criterion2.id}}2" value="8">
    <label class="form-check-label" for="{{criterion1.id}}{{criterion2.id}}2">
      Bardzo duża lub absolutna przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{criterion1.id}}{{criterion2.id}}"
           id="{{criterion1.id}}{{criterion2.id}}3" value="7">
    <label class="form-check-label" for="{{criterion1.id}}{{criterion2.id}}3">
      Bardzo duża przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{criterion1.id}}{{criterion2.id}}"
           id="{{criterion1.id}}{{criterion2.id}}4" value="6" checked>
    <label class="form-check-label" for="{{criterion1.id}}{{criterion2.id}}4">
      Duża lub bardzo duża przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{criterion1.id}}{{criterion2.id}}"
           id="{{criterion1.id}}{{criterion2.id}}5" value="5">
    <label class="form-check-label" for="{{criterion1.id}}{{criterion2.id}}5">
      Duża przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{criterion1.id}}{{criterion2.id}}"
           id="{{criterion1.id}}{{criterion2.id}}6" value="4">
    <label class="form-check-label" for="{{criterion1.id}}{{criterion2.id}}6">
      Umiarkowana lub duża przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{criterion1.id}}{{criterion2.id}}"
           id="{{criterion1.id}}{{criterion2.id}}7" value="3">
    <label class="form-check-label" for="{{criterion1.id}}{{criterion2.id}}7">
      Słaba lub umiarkowana przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{criterion1.id}}{{criterion2.id}}"
           id="{{criterion1.id}}{{criterion2.id}}8" value="2">
    <label class="form-check-label" for="{{criterion1.id}}{{criterion2.id}}8">
      Jednakowe lub słaba przewaga
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadio-{{criterion1.id}}{{criterion2.id}}"
           id="{{criterion1.id}}{{criterion2.id}}9" value="1">
    <label class="form-check-label" for="{{criterion1.id}}{{criterion2.id}}9">
      Jednakowe znaczenie
    </label>
  </div>
</ng-template>
