/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/nano/theme.css";
@import "primeng/resources/primeng.css";

:root {
  --primary-dark: #08487f;
  --primary-light: #8fcbff;
}

.sidebar{
  background-color: var(--primary-dark);
}

.inner-group {
  background-color: var(--primary-light);
  margin: 10px 5px 10px 5px;
  padding: 5px;
}

.btn-margin {
  margin: 10px
}

.btn-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.text-light{
  color: #ffffff;
}

.text-dark{
  color: #000000;
}

.fit-content {
  width: fit-content;
  height: fit-content;
  padding: 4px;
}

body {
  background-image: url("background.jpg");
  background-size: contain;
  background-repeat: repeat;
}

.container{
  background: #ffffff;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}
